
/*********************Estilo Footer********************/


.container-footer{
    background-color: #083254;
    padding: 30px 0;
}

.container-footer p{
    color: #A8CFFF;
}

/*********************************************************/