/*HEADER*/

#header{

    background-color: #083254;
    font-size: 1.5em;
    color: #A8CFFF;
}

.titulo_header{

    text-decoration: none;
    color: #A8CFFF;

}

.titulo_header:hover{

    text-decoration: none;
    color: #FFF;

}
.container-fluid nav a{
    color: #A8CFFF;
}

.container-fluid nav a:hover{
    color: #FFF;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #FFF;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color:#083254;
    margin-bottom: 5px;
}
/* FIN CSS HEADER */

/*********************Estilo Footer********************/


.container-footer{
    background-color: #083254;
    padding: 30px 0;
}

.container-footer p{
    color: #A8CFFF;
}

.container-footer a {
    text-decoration: none;
    color: #A8CFFF;
}

.container-footer a:hover{
    color: white;
}
/*********************************************************/
